/*Kaylee van der Meijden
Software Developer*/

body{
	background-color: lightblue; 
}
/*Bij de body verander ik de achtergrond kleur van de pagina naar licht blauw*/

 img:nth-of-type(1){
	border: 2px solid;
	float: left;
	margin-top: 10px;
}
/*Door img:nth-of-type(1) neer te zetten kan je de eerste afbeelding in je article aanpassen. ik voeg hier bijvoorbeeld een border toe van 2px en verander de positie. Met () kan je kiezen welke afbeelding 1,2 of 3*/
/*Met float kan je de afbeelding neerzetten aan welke kant je wil.
Met margin kan je dat nog specifieker doen.*/

img:nth-of-type(2){
	border: 2px solid;
	float: right;

}

 img:nth-of-type(3){
	border: 2px solid;
	float: left;
}

p:nth-of-type(1){
  	margin-left: 310px;
  	margin-top: 30px;
  	margin-right: 100px
}
/*Door p:nth-of-type(1) neer te zetten kan je de tekst aanpassen, ik heb hier gezorgd dat de tekst een stukje van de afbeelding afkomt.  */


p:nth-of-type(2){
	margin-left: 10px;
}


p:nth-of-type(3){
	margin-left: 10px;
}


p:nth-of-type(4){
  	margin-left: 410px;

}

p:nth-of-type(5){
	margin-left: 10px;
}

